torch==2.6.0
transformers
accelerate
peft
wandb
tqdm
pypinyin
datasets
sentencepiece
deepspeed
vllm
peft
trl
bitsandbytes
gradio
tensorboardX
scipy
einops
sentencepiece
protobuf
uvicorn
pydantic
fastapi
sse-starlette
matplotlib
fire
galore-torch
errant
ltp
OpenCC
python-Levenshtein
pypinyin
tqdm
